.about-fullscreen {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 420px 1fr;
}

.profile {
  backdrop-filter: blur(14px);
  padding: 48px 32px;
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50em;
  margin-top: 15em;
}

.profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.profile h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.profile p {
  font-size: 20px;
  opacity: 0.9;
}

.content {
  background: #f8fafc;
  padding: 64px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content p {
  font-size: 16px;
  color: #374151;
  line-height: 1.7;
  margin-bottom: 36px;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(94, 179, 240, 0.315);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 1, 1);
  text-decoration: none;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.socials a svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
}

.hobby {
  background: white;
  padding: 16px;
  border-radius: 14px;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

@media (max-width: 900px) {
  .about-fullscreen {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 48px 32px;
  }
}
